{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#<meta charset="utf-8">#}
{#<title>Predicting cancerlectins by SVM</title>#}
{#</head>#}
{#<body>#}
{#    <h1>数据格式错误！</h1>#}
{#</body>#}
{#</html>#}
<head>
    <meta charset="UTF-8">
    <title>Resualt</title>
</head>
<body>

{#<h1>probabilityOfCancer: {{ result1 }}</h1>#}
{#<h1>probabilityOfNonCancer: {{ result2 }}</h1>#}
{#</body>#}
{#</html>#}

<div id="main" class="introduction">
<h2 align="center"><span class="style1">Results</span></h2>
<hr width="630" />
    <p align="left"><font color='#000000'>




<table width='500' border='0' align='center'>
<tr>

<th align='center' colspan='6'><font size='+1'>Wrong input, please verify your format</font></th>
</tr>

</table>
  </div>
</div>
<hr width="630" />
    <p align="left"><font color='#000000'>
  <tr>
    <td colspan="2"><p align="center" class="style3"> Fang Ziming, University of Electronic Science and Technology of China.</p></td>
  </tr>
</body>
</html>