<!DOCTYPE html>
<html>

<meta charset="utf-8">



<title>Predicting cancerlectins by SVM</title>
</head>
<body>

<h2 align="center"><span class="style34">A sequence-based predictor</span><br/>
<span class="style34">  for identifying cancerlectin</span></h2>
<hr width="630" />
	<div id="content"><div class="introduction_third">
    <form action="/submit" method="get" style="align-items: center;align-content: center;align-self: center">
        <p align="center" class="style32">Enter the query <span class="style41">protein sequences</span> in FASTA format :</p>
        <p align=center>
        <textarea name="q" cols="66" placeholder="请提交一条FASTA格式的数据" style="width: 550px; height: 200px;"></textarea>
        </p>
        <p align=center>
        <input type="submit" value="summit" style="align-content: center;align-self: center;align-items: center;" >
        </p>
    </form>
    </div>
<hr width="630" />

  <tr>
    <td colspan="2"><p align="center" class="style3"> Fang Ziming, University of Electronic Science and Technology of China.</p></td>
  </tr>




</body>
</html>